* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0a86ff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    background-color:#fff;
    border-radius: 70%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.download-btn {
    background-color: #030395;
    color:#fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 150px 40px;
    background: linear-gradient(to right, #0a86ff, #0a86ff);
    color: white;
}

.content h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content p {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons {
    color: #143f69;
    display: flex;
    gap: 20px;
}

.btn {
    background-color: #030395;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.btne {
    background-color: #0a86ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.preview-image img {
    max-width: 700px;
}
